{% extends "maxzet/main.html" %}
{% load staticfiles %}
{% block main %}
<div class="content_container" id="mf81">
<div class="left_col" id="mf82">
<div style="text-align: justify;" id="mf84">
<p id="mf85">
Maxzet sebagai online fashion destinasi terbesar di Indonesia, didirikan pada awal tahun 2012. Kami berada di Jakarta, Bandung, Surabaya &amp; Makasar.</p>
<br id="mf86">
<p id="mf87">Memiliki koleksi <strong id="mf88"> lebih dari 500 merek </strong> lokal, internasional dan designer, pelanggan kami dapat berbelanja online dengan pilihan produk fashion pria dan wanita mulai dari pakaian, sepatu, aksesoris dan produk kecantikan.</p>
<br id="mf89">
<p id="mf90">Pelanggan Maxzet dapat menikmati kemudahan <a1 id="mf91">30 hari gratis pengembalian</a1>, <a2 id="mf92">Pengiriman Gratis*</a2>, <a3 id="mf93">Pengiriman Tercepat selama 1-3 hari kerja </a3>dan beberapa metode pembayaran termasuk <a4 id="mf94">COD (Cash On Delivery).</a4></p>
<br id="mf95">
<p id="mf96"><strong id="mf97">Maxzet Indonesia</strong> merupakan bagian dari <a target="_blank" href="http://www.zalora.com/" title="ZALORA - ASIA'S LEADING ONLINE FASHION DESTINATION" id="mfa31"><strong id="mf98">Maxzet Group</strong></a>, yang didirikan pada akhir 2011 oleh <strong id="mf99">Rocket Internet GmbH</strong>, yang mencakup Grup retail fashion online terkemuka di Asia Pasifik <strong id="mf100">The Iconic</strong> di Australia dan Selandia Baru.</p>
<br id="mf101">
<p id="mf102"><strong id="mf103">Rocket Internet GmBH</strong> adalah inkubator startup online terbesar di dunia, beberapa usaha lainnya yang hadir di Indonesia meliputi Wimdu, <a href="http://www.foodpanda.co.id/" target="_blank" title="Foodpanda" id="mfa32">Foodpanda</a>, <a href="http://www.pricepanda.co.id/" target="_blank" title="PricePanda" id="mfa33">PricePanda</a>, <a href="http://www.lamudi.co.id/" target="_blank" title="Lamudi" id="mfa34">Lamudi</a>, dan <a href="http://www.carmudi.co.id/" target="_blank" title="Carmudi" id="mfa35">Carmudi</a>.</p>
<br id="mf104">
</div></div>

<div class="right_col" id="mf105">
<img src="http://static02-id-ec.zalora.com/cms/content/page_au_models.jpg" width="460" height="500" alt="Fashion Online ZALORA Indonesia" title="Fashion Online ZALORA Indonesia" id="mf106">
</div>

</div>
{% endblock %}
